<div id="reports_map" style="display:none">
  <div id="map" style="height: 600px; border: 0px"></div>
  
     <script src="http://maps.google.com/maps?file=api&v=2&key=<%=GMAPS_API_KEY%>" type="text/javascript"></script>

    <script type="text/javascript" src="/javascripts/mapstraction.js"></script> 
    <script type="text/javascript" src="/javascripts/mapping.js"></script>   
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>	
    <style type="text/css">
        #map {
            width: 100%;
            height: <%=params[:clean] ? 100 : 80%>%;
            border: 1px solid gray;
        }
    </style>
<div id="message" style="display:none">Loading...</div>

<%= render :partial => 'legend', :locals => {:reports => @reports} if !params[:clean]%>
<div id="update_status" style="display:none"></div>
<script type="text/javascript" charset="utf-8">
    jQuery.noConflict();
    var view_urls = {us:{url:"<%= cached_feed_url(:format => 'json', :page => 1).gsub(/&amp;/,'&') %>",filters: ""}, dc: {url:"<%= cached_state_feed_url(:format => 'json', :state => 'DC', :page => 1).gsub(/&amp;/,'&') %>", filters: "" }};
    function initalizeMap() {
      filters = "<%= @filters.collect{|k,v| "#{k}=#{v}"}.join("&") %>";
      state = "<%= @filters[:state] || '' %>";
      initMapJS();
      // updateMap(load_url, filters);
   }
</script>
</div>