<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= stylesheet_link_tag 'main','reports' %>
  <%= yield :style %>
  <%= yield :head %>
  <title><%= APP_NAME %></title>
	<%= javascript_include_tag 'prototype','effects','application' %>
	<%= yield :javascript %>
</head>
<body>
              <%= yield  %>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-7010869-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>    
  </body>
</html>
