<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= stylesheet_link_tag 'main','reports' %>
  <%= yield :style %>
  <%= yield :head %>
  <title><%= APP_NAME %></title>
	<%= javascript_include_tag 'prototype','effects','application', 'f1_maker_map', 'swfobject' %>
	<%= yield :javascript %>
	<link rel="search" type="application/opensearchdescription+xml" title="#<%= APP_TAG %>" href="<%= SERVER_URL %>/opensearch.xml" />
	<%- [:atom, :kml].each do |format| -%>
	<%  auto_discovery_link_tag(format, {:controller => :reports, :action => :index, :format => format}, {:title => "##{APP_TAG} #{format} feed"}) %>
	<%- end -%>
    <script type='text/javascript'>
      Maker.maker_host =  'http://maker.geocommons.dynalias.com'
      Maker.finder_host = 'http://finder.geocommons.dynalias.com'
      Maker.core_host =   'http://geocommons.dynalias.com'
      // Maker.maker_host =  'http://localhost:4002';
      // Maker.finder_host = 'http://localhost:4001';
      // Maker.core_host =   'http://localhost:4000';
      
    </script>

</head>
<body>
    <a href="/"><div id='header'>
      <div class='header'>
        <div id='logo'>
          <%= APP_NAME %>
        </div>
      </div>
    </div></a>

<p style="color: green"><%= flash[:notice] %></p>

    <div id='content'>
      <div class='content'>
        <div class='c_main a_index' id='page'>
          <div class='page' style='height: 600px'>
              <%= yield  %>
            <div id='maker_map' style="display:none;">
              <div class='loading' style="display:none"></div>
            </div>
          </div>
        </div>
        <div id='side'>
          <div class='side'>
            <div class='panel' id='panel_welcome'>
              <label><a href="#" class="expand expand_welcome">Welcome</a></label>
              <div class='short'>
                <p>Be a part of the Inauguration in a brand new way. Explore realtime reports from around the world from people on their way to the Inauguration.</p>
                <a href="#" class="expand expand_welcome">more &raquo;</a>
              </div>
              <div class='long' style='display:none'>
                <p>Be a part of the Inauguration in a brand new way. Explore realtime reports from around the world from people on their way to the Inauguration.</p><br/>
                <p>Participate with Twitter, Flickr photos, or YouTube videos by tagging your contributions with the #inaug09 hash tag. When you're mobile, use the iPhone or Android app as detailed below. See the <a href="http://npr.org/inaugurationreport" title="Inauguration Report: Dispatches From Listeners : NPR">NPR guide</a> on how the various ways to contribute reports.</p>
              </div>
            </div>
            <div class='panel' id='panel_explore'>
              <label><a href="#" class="expand expand_explore">Explore</a></label>
              <div class='short' style='display:none'>
                <ul>
                  <li id="1">
                    <a class="load_map load_map_6" href="javascript:void(0)">
                      <strong>Map of reports</strong>
                    </a>
                  </li>
                  <li id="2">
                    <a class="load_list" href="javascript:void(0)">
                      <strong>List of reports</strong>
                    </a>
                  </li>
                </ul>
                <!-- <a href="#" class="expand expand_explore">more &raquo;</a> -->
              </div>
              <div class='long'>
                <div class='longb'>
                  <!-- Fixed maps and lists -->
                  <ul>
                    <li id="maps_control">
                      <a class="load_view load_view_reports_map" href="javascript:void(0)">
                        <strong>Map of reports</strong>
                      </a>
                    </li>
                    <li id="list_control">
                      <a class="load_view load_view_reports_reports" href="javascript:void(0)">
                        <strong>List of reports</strong>
                      </a>
                    </li>
                  </ul>                  
                  <div id='explore'>
                    <!-- Dynamic maps -->
                    <script type="text/javascript" charset="utf-8">
                    Maker.find_maps("inaugreport09");
                    </script>                                    
                  </div>
                </div>
              </div>
            </div>
            <div class='panel' id='panel_participate'>
              <label><a href="#" class="expand expand_participate">Participate</a></label>
              <div class='short'>
                <p><img src="/images/i.iphone.gif" style="float:left;margin:0 5px 40px 0"/> Use the #inaug09 tag or download InaugurationReport for your iPhone.</p>
                <a href="#" class="expand expand_participate">more &raquo;</a>
              </div>
              <div class='long' style='display:none'>
                <p><img src="/images/i.iphone.gif" style="float:left;margin:0 5px 40px 0"/> Use the #inaug09 tag or download our Mobile App for your iPhone, or embed the InaugurationReport in your site. </p>
                <p><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=301986752&mt=8" title="InaugurationReport iPhone store"><img src="/images/g.iphone.download.gif" /></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='footer'>
      <div class='footer fl_r'>
        <div class='l'>
			<ul id="syndication">
				<li id="kml_link"><%= link_to image_tag("kml_icon.png", :alt => "KML")+"View in GoogleEarth", formatted_reports_url(:kml), :title => "Download the KML to view in GoogleEarth" %></li>
				<li id="rss_link"><%= link_to image_tag("feed_icon.png", :alt => "RSS")+"Subscribe to RSS", formatted_reports_url(:atom), :title => "Subscribe to ##{APP_TAG} GeoRSS-Atom feed" %></li>
			</ul>
        </div>
        <div class='r'>
          Brought to you by
          <a href="http://npr.org">NPR</a> |
          <a href="http://cbsnews.com">CBS News</a> |
          <a href="http://www.american.edu">American University</a> |
          <a href="http://twittervision.com">TwitterVision</a> |
          <a href="http://geocommons.com">GeoCommons</a> |
          <a href="http://www.zerionconsulting.com/mobile.html">Zerion</a>
        </div>
      </div>
    </div>
    <script type='text/javascript'>
      Accordion.initialize()
    </script>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-7010869-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>    
  </body>
</html>
